<ion-content [fullscreen]="true">
  <br>
  <br>

  <h3 style="margin: 0 auto; width: 100%; text-align: center; padding: 25px;">Login</h3>
  <br>
  <br>
  <br>
  <div style=" margin: 0 auto; display: flex; flex-direction: column; gap: 1rem; padding: 25px;">
    <ion-input label="Email" label-placement="floating" fill="solid" placeholder="Email" type="Email"></ion-input>
    <ion-input label="Senha" label-placement="floating" fill="solid" placeholder="Senha" type="Password"></ion-input>


    <ion-button expand="block" style=" align-self: center;" color="tertiary">Login</ion-button>



  </div>
</ion-content>