<ion-content [fullscreen]="true" *ngIf="isLogin">

  <h1>Login</h1>
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Entrar</ion-button>
    <ion-button expand="block" (click)="isLogin = false">Criar Conta</ion-button>
  </form>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="!isLogin">
  <h1>Criar Conta</h1>
  <form [formGroup]="createAccount" (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Criar</ion-button>
  </form>
</ion-content>