  <ion-card *ngIf="isMovie && movie" class="poster" style="background-color: #192347;">   
    <img [src]="getImgUrl(movie.poster_path)" alt="Movie poster">
    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <ion-card *ngIf="isTvShow && tvShow" class="poster" >
    <img [src]="getImgUrl(tvShow.poster_path)" alt="TV Show poster" >
    <ion-card-header>
      <ion-card-title>{{ tvShow.name }}</ion-card-title>
    </ion-card-header>
  </ion-card>