<ion-header translucent>
  <ion-toolbar>
    <ion-title>CINEPATH</ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="segment" (ionChange)="onSegmentChange()">
  <ion-segment-button value="filmes">
    Filmes
  </ion-segment-button>
  <ion-segment-button value="series">
    Séries
  </ion-segment-button>
</ion-segment>

<swiper-container *ngIf="segment === 'filmes'" class="swiper-container" [slidesPerView]="3" [pagination]="{ type: 'fraction' }" [navigation]="true">
  <swiper-slide>
    <ion-button fill="clear" (click)="changeSearchType('Popular')">
      Novo
    </ion-button>
  </swiper-slide>
  <swiper-slide>
    <ion-button fill="clear" (click)="changeSearchType('Top Rated')">
      Melhor Avaliado
    </ion-button>
  </swiper-slide>
  <swiper-slide>
    <ion-button fill="clear" (click)="changeSearchType('Now Playing')">
      Mais Popular
    </ion-button>
  </swiper-slide>
  <swiper-slide>
    <ion-button fill="clear" (click)="changeSearchType('Upcoming')">
      Em Breve
    </ion-button>
  </swiper-slide>
</swiper-container>

<swiper-container *ngIf="segment === 'series'" class="swiper-container" [slidesPerView]="3" [pagination]="{ type: 'fraction' }" [navigation]="true">
  <swiper-slide>
    <ion-button fill="clear" (click)="changeSearchType('Popular')">
      Novo
    </ion-button>
  </swiper-slide>
  <swiper-slide>
    <ion-button fill="clear" (click)="changeSearchType('Top Rated')">
      Melhor Avaliado
    </ion-button>
  </swiper-slide>
  <swiper-slide>
    <ion-button fill="clear" (click)="changeSearchType('On The Air')">
      No Ar
    </ion-button>
  </swiper-slide>
  <swiper-slide>
    <ion-button fill="clear" (click)="changeSearchType('Airing Today')">
      Hoje
    </ion-button>
  </swiper-slide>
</swiper-container>

<ion-content style="background-color: #192347;">
  <div *ngIf="segment === 'filmes'">
    <app-movie-list [listType]="'Movies'" [searchType]="searchType"></app-movie-list>
  </div>
  <div *ngIf="segment === 'series'">
    <app-movie-list [listType]="'TVShows'" [searchType]="searchType"></app-movie-list>
  </div>
</ion-content>