<ion-content [fullscreen]="true">

  <div *ngIf="type === 'tvShow'">

    <swiper-container class="mySwiper" space-between="30" pagination="true" pagination-dynamic="true">

      <swiper-slide *ngFor="let img of tvShowImages.backdrops">
        <img [src]="[getImgUrl(img.file_path)]" class="card-img-top" style="background-size: cover;">
      </swiper-slide>

    </swiper-container>


    <div class="content-detail__header" style="text-align: center;">
      <h1>{{ tvShow.name }} <span class="content-detail_year">({{ tvShow.first_air_date?.slice(0,4) }})</span></h1>

      <ion-chip *ngFor="let genre of tvShow.genres" color="tertiary">
        {{ genre.name }}
      </ion-chip>
    </div>

    <div *ngIf="tvShow.overview">
      <app-trunk-text [maxLength]="100" text="{{tvShow.overview}}"></app-trunk-text>
    </div>

    <ion-breadcrumb [items]="[{ text: 'Home', routerLink: '/home' }, { text: 'TV Shows', routerLink: '/tv-shows' }, { text: tvShow.name }]" style="padding: 0 10px;">
    </ion-breadcrumb>

    <div>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Informações</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>Temporadas</ion-label>
              <ion-label>{{ tvShow.number_of_seasons }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Episódios</ion-label>
              <ion-label>{{ tvShow.number_of_episodes }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-label>{{ tvShow.status }}</ion-label>
            </ion-item>
            <ion-item *ngIf="tvShow.vote_average">
              <ion-label>Nota</ion-label>
              <ion-label [ngStyle]="{'color': tvShow.vote_average > 6 ? 'green' : 'red'}">{{ tvShow.vote_average }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Popularidade</ion-label>
              <ion-label>{{ tvShow.popularity }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>

    <div>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Criadores</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let creator of tvShow.created_by">
              <ion-avatar slot="start" *ngIf="creator.profile_path">
                <img [src]="[getImgUrl(creator.profile_path)]">
              </ion-avatar>
              <ion-label>
                <h2>{{ creator.name }}</h2>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

    </div>




    <div>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Elenco</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let cast of tvShowCredits.cast">
              <ion-avatar slot="start" *ngIf="cast.profile_path">
                <img [src]="[getImgUrl(cast.profile_path)]">
              </ion-avatar>
              <ion-label>
                <h2>{{ cast.name }}</h2>
                <p>{{ cast.character }}</p>
                <p>{{ cast.known_for_department }} </p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>


    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Temporadas</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let season of tvShow.seasons">
            <ion-label>{{ season.name }}</ion-label>
            <ion-label>{{ season.episode_count }} episodes</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>

      <ion-button class=" hero__button">
        <ion-icon name="heart" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button class="hero__button">
        <ion-icon name="bookmark" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button class="hero__button">
        <ion-icon name="eye" slot="icon-only"></ion-icon>
      </ion-button>

    </ion-row> </ion-toolbar>
</ion-footer>