<ion-header>
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>

  <ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row style="align-items: center; align-content: center;">
        <ion-col size="6" *ngFor="let movie of mockData">
          <div *ngIf="movie" (click)="movie && navigateToContent(movie?.id || 0, 'movie')">
            <ion-card>
              <img [src]="[getImgUrl(movie.poster_path)]">
              <ion-card-header>
                <ion-card-subtitle style="font-size: small;">{{ movie.title?.slice(0,30) + '...' }}</ion-card-subtitle>
              </ion-card-header>

            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>